{% extends "base.html" %}


{% block content %}
<!-- Parte do Sumario que será escolhido as opções -->


<div class="media">
  <div class="media-left">
      <img class="media-object" style="height:40%; margin-left:auto; margin-right:auto;" src="{{entity.image}}">
  <div class="media-body" style="text-align: center" >
      <h4> <option value="{{ entity.id}} {{entity.maker}} {{ entity.model}}">{{ entity.name}} {{ entity.maker}} {{ entity.model}}</option> </h4><!--colocar if do id do equipamento que vem do qrcode-->

  </div>
  </div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Protocolos</button>
  </div>
  <div class="btn-group" role="group">
    <a href='/funcionamento/create/' type="button" class="btn btn-default">Funcionamento</a>
  </div>
  <div class="btn-group" role="group">
    <a href='/event/create/' type="button" class="btn btn-default">Abrir Ocorrência</a>
  </div>
</div>
</div>




{% endblock content%}