{% extends "base.html" %}


{% block content %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
{% for entity in entitys %}
    <tr>
        <td>{{ entity.name }}</td>
        <td>
            <a href="/errosfrequentes/{{entity.id}}" data-toggle="tooltip" data-placement="top" title="Perguntas Frequentes">
                <i class="glyphicon glyphicon-tags"></i>
            </a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock content%}

