{% extends "base.html" %}
{% block content %}

<!-- Guia rápido do funcionamento !-->

<div class="row">
    <!-- Image -->
    <div class="col-md-6">
        <img style="width:100%;" src="/media/{{entity.image}}">
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ entity.name}} {{ entity.maker}} {{ entity.model}}</h3>
                    </div>
                    <div class="panel panel-body">
                       <iframe src="{{entity.link}}" frameBorder="0" width="100%" height="500"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>

    <textarea name="test" id="new"></textarea>
    {{ markdown_editor }}
    {{ markdown_media }}
</div>


{% endblock content%}

