{% extends "base.html" %}
{% block content %}

<div class="media">
  <div class="media-left">
      <img class="media-object" style="height:40%; margin-left:auto; margin-right:auto;" src="{{entity.image}}">
  <div class="media-body" style="text-align: center" >
      <h4> <option value="{{ entity.id}} {{entity.maker}} {{ entity.model}}">{{ entity.name}} {{ entity.maker}} {{ entity.model}}</option> </h4><!--colocar if do id do equipamento que vem do qrcode-->

  </div>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href='/funcionamento/verificacao/{{ entity.id }}' ><button type="button" class=" btn-group btn-group-justified">Verificação de Funcionamento</button></a>
    </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn-group btn-group-justified">Mecânica Respiratória</button>
  </div>
  <div class="btn-group" role="group">
    <a href='/errosfrequentes/{{ entity.id }}' > <button type="button" class="btn-group btn-group-justified">Análise de Gráficos</button></a>
  </div>
</div>

<!-- Testando -->
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href='/equipamento/{{ entity.id }}'><span aria-hidden="true">&larr;</span> Voltar </a></li>
  </ul>
</nav>

</div>



{% endblock content%}