 {% load staticfiles %}

 <!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"">
  <link rel="app" href="{{ STATIC_URL }}css/apresentacao/apresentacao.css" />
</head>
<body>

<!-- Incluindo o jQuery que é requisito do JavaScript do Bootstrap -->
<script src="{% static "js/jquery-latest.min.js" %}"></script>
<!-- Incluindo o JavaScript do Bootstrap -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- header -->
{% include "header.html" %}
<!-- end header -->

<!-- Body -->
<section id="principal" class="container-fluid">
{% block content %}
{% endblock content%}
</section>
<!-- end body -->


<!-- footer -->
<!-- end footer -->
</body>
</html>